# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow

## Data Science Tools
| Tool         | Description                       |
|--------------|-----------------------------------|
| Jupyter      | Interactive computing environment |
| RStudio      | Integrated development environment for R |
| Apache Spark | Unified analytics engine          |

### Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Objectives
- Learn basic Markdown syntax.
- Understand how to create and use code cells.
- Familiarize with Jupyter notebook interface.

## Author
Krystyna